@import url('https://fonts.googleapis.com/css2?family=Monaco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.main_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_login {
    width: 70vw;
    height: 60vh;
    display: flex;
    border-radius: 10%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.artigo_login {
    width: 50%;
    height: 100%;
    font-family: 'Fredoka', serif;
    font-size: 1.5em;
    background: linear-gradient(to right, #f8a60d, #f66e06);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.artigo_login h3,
.artigo_login p {
    margin: 0;
    margin-left: 1em;
}

.artigo_form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fadc83;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.form_login {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin: 0;
}

.form_login div {
    margin-bottom: 0;
}

.div-email,
.div-senha {
    width: 60%;
    align-content: center;
}

.div-email input,
.div-senha input {
    width: 100%;
    height: 2.5em;
    border-radius: 4px;
    border: #f9a260 1px solid;
}

.div-email label,
.div-senha label {
    font-family: 'Fredoka', serif;
    font-size: large;
}

.form_login button {
    width: 61%;
    height: 2.2em;
    border-radius: 4px;
    border: #f9a260 1px solid;
    background-color: #f66e06;
    color: white;
    font-family: 'Fredoka', serif;
    font-size: large;
}

.link_cadastro_recuperacao {
    width: 100%;
    height: 30%;
}

#recuperar_senha,
#fazer_cadastro {
    font-family: 'Fredoka', serif;
}

#recuperar_senha a,
#fazer_cadastro a {
    text-decoration: none;
    color: #f66e06;
}