@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.cadastro_meus_estabelecimentos {
  width: 85vw;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 2em rgba(0, 0, 0, 0.3);
  padding: 1em;
  font-family: 'Fredoka', serif;
}

.cabecalho_meus_estabelecimentos {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.cabecalho_meus_estabelecimentos button {
  height: 2.2em;
  width: 30%;
  border-radius: 4px;
  border: #f9a260 1px solid;
  background-color: #f66e06;
  color: white;
  font-family: 'Fredoka', sans-serif;
  font-size: large;
  cursor: pointer;
}

.estabelecimentos_registrados {
  width: 100%;
  min-height: 72vh;
}

.estabelecimentos_registrados h1 {
  color: #f66e06;
  margin-bottom: 0.5em;
}

.estabelecimentos_registrados p {
  font-size: large;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: 'Fredoka', sans-serif;
}

.form-bar {
  width: 100%;
  max-width: 600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-bar h3 {
  text-align: center;
  color: #f66e06;
  font-size: 2em;
  margin-bottom: 1em;
  width: 100%;
}

.form-bar .form-label {
  font-size: large;
  display: block;
  color: black;
  text-align: left;
  width: 100%;
}

.form-bar .form-input {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #f9a260;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
  color: #333;
  margin-bottom: 1em;
}

.form-bar select {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #f9a260;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
  color: #333;
  margin-bottom: 1em;
}

.form-bar textarea {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #f9a260;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
  color: #333;
  margin-bottom: 1em;
}


.form-bar textarea {
  resize: vertical;
  min-height: 80px;
}

.form-bar button[type="submit"] {
  width: 100%;
  height: 2.2em;
  border-radius: 4px;
  border: #f9a260 1px solid;
  background-color: #f66e06;
  color: white;
  font-family: 'Fredoka', sans-serif;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-bar button[type="submit"]:hover {
  background-color: #f8a60d;
}


.fechar-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
}