.main_estabelecimentos {
    min-height: 92vh;
}

.logo {
    width: 8vw;
}

.header_estabelecimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
}