.main_estabelecimentos {
    min-height: 92vh;
}

.logo {
    width: 8vw;
}

.header_estabelecimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.conteudo {
    display: flex;
    width: 100vw;
    min-height: 72vh;
}

aside {
    width: 25vw;
    min-height: 70vh;
    margin: 2em;
}

#estabelecimentos {
    width: 75vw;
    height: 70vh;
    margin: 2em;
}